@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.top-banner {
  background: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.bottom-banner {
  background: url(images/dream-bg.png);
  background-repeat: no-repeat;
}

.banner {
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  height: 60vh;
  /* overflow: hidden; */
}

.link-btn {
  text-decoration: none;
  background: linear-gradient(120deg, lightSalmon, tomato);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
}
h1 {
  font-size: 50px;
}

.name-highlight {
  color: orange;
}

.half-width {
  width: 35%;
}

.half-width img {
  width: 75%;
}
