@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.top-banner {
  background: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.bottom-banner {
  position: relative;
}

.bottom-image {
  position: absolute;
  right: 0;
  bottom: 10%;
  z-index: -1;
}

.banner {
  padding: 5%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.link-btn {
  text-decoration: none;
  background: linear-gradient(120deg, lightSalmon, tomato);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
}
h1 {
  font-size: 50px;
}

.orange-highlight {
  color: orange;
}

.half-width {
  width: 45%;
  padding: 1rem;
}

.half-width img {
  width: 100%;
}

.experience-area {
  background-image: url(images/exp-bg.png);
  background-position: left;
  background-repeat: no-repeat;
  padding: 5%;
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 60vh;
}


.exp {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.exp-i {
  box-shadow: 10px 10px 40px gray;
  height: 320px;
  border-radius: 5px;
}

.exp-i:nth-child(2){
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightSalmon, tomato);
  border-image-slice: 1;
}
.exp-i:nth-child(3){
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}

footer {
  text-align: center;
}